@charset "UTF-8";

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.page-title {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
}

.product-table th, .product-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.product-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.product-table th {
    background-color: #f4f4f4;
}

.product-table tr:hover {
    background-color: #f9f9f9;
}

/* button { */
/*     font-size: 16px; */
/*     font-weight: bold; */
/*     text-align: center; */
/*     padding: 10px 15px; */
/*     border-radius: 5px; */
/*     border: none; */
/*     cursor: pointer; */
/* } */

button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

/* 다운로드 버튼 스타일 */
.btn-download {
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none; /* 밑줄 제거 */
    display: inline-block; /* 링크 스타일 제거를 위해 block/inline-block */
}

/* 방문 후 및 클릭 후에도 밑줄 제거 */
.btn-download:visited,
.btn-download:hover,
.btn-download:active {
    text-decoration: none;
    color: white; /* 링크 색상 유지 */
}

/* 생성 버튼 스타일 */
.btn-generate {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none; /* 밑줄 제거 */
}

.btn-generate:visited,
.btn-generate:hover,
.btn-generate:active {
    text-decoration: none;
    color: white;
}



/* .toast { */
/*     position: fixed; */
/*     top: 20px; */
/*     right: 20px; */
/*     background-color: #323232; */
/*     color: white; */
/*     padding: 10px 15px; */
/*     border-radius: 5px; */
/*     margin-bottom: 10px; */
/*     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
/*     animation: slideIn 0.5s, fadeOut 4s 3s; */
/*     font-size: 14px; */
/* } */

/* .toast.success { */
/*     background-color: #28a745; */
/* } */

/* .toast.error { */
/*     background-color: #dc3545; */
/* } */

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

