<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stockm8.mapper.QRCodeMapper">

    <!-- resultMap 정의 -->
    <resultMap id="qrCodeResultMap" type="com.stockm8.domain.vo.QRCodeVO">
        <id property="qrCodeId" column="qr_code_id" />
        <result property="productId" column="product_id" />
        <result property="qrCodeData" column="qr_code_data" />
        <result property="qrCodePath" column="qr_code_path" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />
    </resultMap>

        <!-- QR 코드 데이터 삽입 -->
    <insert id="insertQRCode" parameterType="com.stockm8.domain.vo.QRCodeVO">
        INSERT INTO qr_codes (
            product_id, 
            qr_code_data, 
            qr_code_path, 
            created_at, 
            updated_at
        )
        VALUES (
            #{productId}, 
            #{qrCodeData}, 
            #{qrCodePath}, 
            NOW(), 
            NOW()
        );
    </insert>

    <!-- QRCode 데이터 조회 -->
    <select id="selectQRCodeByProductId" parameterType="int" resultMap="qrCodeResultMap">
        SELECT 
            qr_code_id, 
            product_id, 
            qr_code_data, 
            qr_code_path, 
            created_at, 
            updated_at
        FROM qr_codes
        WHERE product_id = #{productId}
    </select>

    <!-- QR 코드 데이터 업데이트 -->
    <update id="updateQRCodePath" parameterType="com.stockm8.domain.vo.QRCodeVO">
        UPDATE qr_codes
        SET qr_code_path = #{qrCodePath}, updated_at = CURRENT_TIMESTAMP
        WHERE qr_code_id = #{qrCodeId};
    </update>
    
        <!-- QR 코드 경로와 연결된 product_id 조회 -->
    <select id="selectQRCodePathsByBusinessId" parameterType="int" resultType="com.stockm8.domain.vo.QRCodeVO">
        SELECT 
            product_id AS productId,
            qr_code_path AS qrCodePath
        FROM qr_codes
        WHERE product_id IN (
            SELECT product_id 
            FROM products 
            WHERE business_id = #{businessId} 
              AND is_deleted = 0
        ) 
        AND qr_code_path IS NOT NULL;
    </select>

    <!-- QR 코드 데이터 삭제 -->
    <delete id="deleteQRCodeById" parameterType="int">
        DELETE FROM qr_codes WHERE qr_code_id = #{qrCodeId};
    </delete>

</mapper>