<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.stockm8.mappers.shipmentMapper">
  
  <resultMap type="com.stockm8.domain.vo.ReceivingShipmentVO" id="receivingShipmentMap">
  </resultMap>
  

<!-- 테이블에 입고 데이터 입력 -->
<insert id="insertShipment" parameterType="com.stockm8.domain.vo.ReceivingShipmentVO">
INSERT INTO receiving_shipment (
    transaction_type, 
    product_id, 
    change_quantity, 
    order_item_id,
    stock_id,
    warehouse_id,
    created_by,
    memo
)
SELECT DISTINCT 
    ord.order_type, 
    p.product_id, 
    o.quantity, 
    o.order_item_id,
    s.stock_id,
    o.warehouse_id,
    #{userId},
    o.remarks
FROM products p
JOIN order_items o ON o.product_id = p.product_id
JOIN stocks s ON s.product_id = p.product_id AND s.warehouse_id = o.warehouse_id
JOIN users u ON u.business_id = p.business_id
JOIN orders ord ON ord.order_id = o.order_id
WHERE NOT EXISTS (
    SELECT 1
    FROM receiving_shipment rs
    WHERE rs.transaction_type = ord.order_type
    AND rs.product_id = p.product_id
    AND rs.order_item_id = o.order_item_id
    AND rs.stock_id = s.stock_id
    AND rs.warehouse_id = o.warehouse_id
)AND u.business_id = #{businessId}
</insert>
	
<!-- 오늘 입고 예정 리스트 -->
<select id="getShipmentList" resultMap="receivingShipmentMap">
	select DISTINCT 
	r.receiving_shipment_no, 
	r.transaction_type, 
	r.created_at, 
	r.status, 
	r.product_id, 
	p.product_name, 
	p.product_description, 
	r.change_quantity, 
	r.memo
	from receiving_shipment r
	join products p on r.product_id = p.product_id
	join warehouses w on w.warehouse_id = r.warehouse_id
	JOIN users u on u.user_id = r.created_by
	where Date(r.created_at) = CURRENT_DATE and r.status = 'PENDING' and r.transaction_type = 'OUTBOUND'
	AND u.business_id = #{businessId}
	order by r.receiving_shipment_no desc
	limit 0, 20
</select>

<!-- 어제 입고 리스트 -->
<select id="getYesterdayShipmentList" resultMap="receivingShipmentMap">
	select DISTINCT 
	r.receiving_shipment_no, 
	r.transaction_type, 
	r.created_at, 
	r.status, 
	r.product_id, 
	p.product_name, 
	p.product_description, 
	r.change_quantity, 
	r.memo
	from receiving_shipment r
	join products p on r.product_id = p.product_id
	join warehouses w on w.warehouse_id = r.warehouse_id
	JOIN users u on u.user_id = r.created_by
	where Date(r.created_at) = DATE_ADD(CURRENT_DATE, INTERVAL -1 DAY) 
	AND u.business_id = #{businessId}
	order by r.receiving_shipment_no desc
	limit 0, 20
</select>

<!-- 그저께 입고 리스트 -->
<select id="getTDBYShipmentList" resultMap="receivingShipmentMap">
	select DISTINCT 
	r.receiving_shipment_no, 
	r.transaction_type, 
	r.created_at, 
	r.status, 
	r.product_id, 
	p.product_name, 
	p.product_description, 
	r.change_quantity, 
	r.memo
	from receiving_shipment r
	join products p on r.product_id = p.product_id
	join warehouses w on w.warehouse_id = r.warehouse_id
	JOIN users u on u.user_id = r.created_by
	where Date(r.created_at) = DATE_ADD(CURRENT_DATE, INTERVAL -2 DAY) 
	AND u.business_id = #{businessId}
	order by r.receiving_shipment_no desc
	limit 0, 20
</select>

<!-- 입고 내역 히스토리 -->
<select id="getShipmentHistoryList" resultMap="receivingShipmentMap">
	select DISTINCT 
	r.receiving_shipment_no, 
	r.order_item_id,
	r.transaction_type, 
	r.created_at, 
	r.status, 
	r.product_id, 
	p.product_name, 
	p.product_description, 
	r.change_quantity, 
	p.product_price,
	r.warehouse_id,
	r.memo
	from receiving_shipment r
	join products p on r.product_id = p.product_id
	join warehouses w on w.warehouse_id = r.warehouse_id
	JOIN users u on u.user_id = r.created_by
	where transaction_type = 'OUTBOUND' 
	AND u.business_id = #{businessId}
	order by r.receiving_shipment_no desc
	limit #{cri.startPage},#{cri.pageSize};
</select>

<!-- 입고 내역 검색 -->
<select id="getHistoryByDateRange" parameterType="map" resultMap="receivingShipmentMap">
    SELECT DISTINCT 
    r.receiving_shipment_no, 
    r.transaction_type, 
    r.created_at, 
    r.status, 
    r.product_id, 
    p.product_name, 
    p.product_description, 
    r.change_quantity, 
    p.product_price,
    r.warehouse_id,
    r.memo
    FROM receiving_shipment r
    JOIN products p ON r.product_id = p.product_id
    JOIN warehouses w ON w.warehouse_id = r.warehouse_id
    JOIN users u on u.user_id = r.created_by
    <where>
    <if test="startDate != null and startDate != ''">
        r.created_at &gt;= #{startDate}
    </if>
    <if test="endDate != null and endDate != ''">
        AND r.created_at &lt;= #{endDate}
    </if>
    <if test="keyword != null and keyword != ''">
        AND p.product_name LIKE CONCAT('%', #{keyword}, '%')
    </if>
        	AND transaction_type = 'OUTBOUND' 
        	AND u.business_id = #{businessId}
    </where>
    ORDER BY r.receiving_shipment_no desc
    limit #{cri.startPage},#{cri.pageSize};
</select>

<!-- 키워드 검색시 모든 개수 카운트 -->
<select id="getTotalCountBySearch" parameterType="map" resultType="int">
    SELECT COUNT(*) 
    FROM receiving_shipment r
    JOIN products p ON r.product_id = p.product_id
    JOIN users u on u.user_id = r.created_by
    <where>
        <if test="startDate != ''">
            r.created_at &gt;= #{startDate}
        </if>
        <if test="endDate != ''">
            AND r.created_at &lt;= #{endDate}
        </if>
        <if test="keyword != ''">
            AND p.product_name LIKE CONCAT('%', #{keyword}, '%')
        </if>
        AND r.transaction_type = 'OUTBOUND'
        AND u.business_id = #{businessId}
    </where>
    ORDER BY r.receiving_shipment_no desc
</select>

<!-- 입출고 모든 개수 카운트 -->
<select id="getTotalCount" resultType="int">
SELECT COUNT(DISTINCT r.receiving_shipment_no)
FROM receiving_shipment r
JOIN users u ON u.user_id = r.created_by
WHERE r.transaction_type = 'OUTBOUND'
  AND u.business_id = #{business_id};
</select>

   <!-- Shipment scan을 위한 매퍼 -->
   <!-- 바코드로 제품 조회 -->
<select id="selectQuantityCheckByBarcode" resultType="com.stockm8.domain.vo.StockVO">
	SELECT s.product_id, p.product_name, s.total_quantity
	FROM stocks s
	JOIN products p ON p.product_id = s.product_id
	JOIN receiving_shipment r on r.stock_id = s.stock_id
	WHERE p.product_barcode = #{barcode} AND s.business_id = #{businessId}
	AND r.receiving_shipment_no = #{receivingShipmentNo}  
</select>

<!-- 바코드로 재고 1 감소 -->
<update id="updateIncreseStock">
    UPDATE order_items o
    JOIN products p on p.product_id = o.product_id
    JOIN stocks s on o.product_id = s.product_id
    JOIN receiving_shipment r on r.stock_id = s.stock_id AND r.order_item_id = o.order_item_id
    SET s.total_quantity = s.total_quantity - 1,
    o.change_quantity = o.change_quantity - 1,
    WHERE p.product_barcode = #{barcode}
    AND s.business_id = #{businessId}
    AND o.change_quantity > 0
    AND r.receiving_shipment_no = #{receivingShipmentNo}
    AND r.order_item_id = #{orderItemId}
</update>

<update id="updateIncreseStock2">
    UPDATE order_items o
    JOIN products p on p.product_id = o.product_id
    JOIN stocks s on o.product_id = s.product_id
    JOIN receiving_shipment r on r.stock_id = s.stock_id AND r.order_item_id = o.order_item_id
    SET s.total_quantity = s.total_quantity - 1,
    o.change_quantity = o.change_quantity - 1,
    s.reserved_quantity = s.reserved_quantity - 1
    WHERE p.product_barcode = #{barcode}
    AND s.business_id = #{businessId}
    AND o.change_quantity > 0
    AND r.receiving_shipment_no = #{receivingShipmentNo}
    AND r.order_item_id = #{orderItemId}
</update>

<!-- 바코드로 남은 재고 조회 -->
<select id="selectStockByBarcode" resultType="int">
    SELECT s.total_quantity
    FROM order_items o
    JOIN products p on p.product_id = o.product_id
    JOIN stocks s on o.product_id = s.product_id
    JOIN receiving_shipment r on r.stock_id = s.stock_id AND r.order_item_id = o.order_item_id
    WHERE p.product_barcode = #{barcode} AND s.business_id = #{businessId}
    AND r.receiving_shipment_no = #{receivingShipmentNo}
    AND r.order_item_id = #{orderItemId}
    limit 1;
</select>

<!-- 바코드로 남은 발주 수량 조회 -->
<select id="selectReservedQuantity" resultType="int">
SELECT o.change_quantity
FROM order_items o
JOIN stocks s ON s.product_id = o.product_id
JOIN products p ON p.product_id = s.product_id
JOIN receiving_shipment r ON r.stock_id = s.stock_id AND r.order_item_id = o.order_item_id
WHERE p.product_barcode = #{barcode}
AND s.business_id = #{businessId}
AND r.receiving_shipment_no = #{receivingShipmentNo}
AND r.order_item_id = #{orderItemId}
</select>

<!-- 바코드로 제품 이름 조회 -->
<select id="selectProductNameBarcode" resultType="com.stockm8.domain.vo.ProductVO">
    SELECT p.product_name, p.product_price
    FROM stocks s
    JOIN products p on p.product_id = s.product_id
    JOIN receiving_shipment r on r.stock_id = s.stock_id
    WHERE p.product_barcode = #{barcode} AND s.business_id = #{businessId}
    AND r.receiving_shipment_no = #{receivingShipmentNo}
</select>

<update id="updateShipmentStatusToComplete">
    UPDATE receiving_shipment r
    JOIN products p ON r.product_id = p.product_id
    JOIN stocks s ON s.product_id = p.product_id
    JOIN order_items o ON s.product_id = o.product_id
    SET r.status = 'COMPLETED',
    r.created_by = #{userId}
    WHERE p.product_barcode = #{barcode}
    AND o.change_quantity = 1
    AND r.status = 'PENDING'
    AND s.business_id = #{businessId}
    AND r.receiving_shipment_no = #{receivingShipmentNo}
    AND r.order_item_id = #{orderItemId}
</update>
<!-- receiving scan을 위한 매퍼 -->

<!-- 입고 내역 히스토리 -->
<select id="getReceivingShipmentNo" resultMap="receivingShipmentMap">
	select DISTINCT 
	r.receiving_shipment_no, 
	r.transaction_type, 
	r.created_at, 
	r.status, 
	r.product_id, 
	p.product_name, 
	p.product_description, 
	r.change_quantity, 
	p.product_price,
	r.warehouse_id,
	r.memo
	from receiving_shipment r
	join products p on r.product_id = p.product_id
	join warehouses w on w.warehouse_id = r.warehouse_id
	JOIN users u on u.user_id = r.created_by
	where transaction_type = 'OUTBOUND' 
	AND u.business_id = #{businessId} 
	AND r.receiving_shipment_no = #{receivingShipmentNo}
</select>

</mapper>
